<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.l.wanshaapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <application
        android:allowBackup="true"
        android:icon="@drawable/mianlogo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".Activity.SearchApp"></activity>
        <activity android:name=".Activity.SearchDealActivity"/>
        <activity android:name=".WanShaLogin.LoginActivity"></activity>
        <activity android:name=".DynamicHome.DynamicMainActivity"></activity>
        <activity android:name=".DynamicCommentDetails.CommentDetailsActivity"
                   android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity android:name=".JCVideoPlayerStandard.player"></activity>
        <activity android:name=".WanShaLogin.RegisteredActivity"></activity>
        <activity android:name=".XiangQingActivity"></activity>
        <activity android:name=".Activity.yuyuexiazai"></activity>
        <activity android:name=".Activity.GuanzhuGameActivity"></activity>
        <activity android:name=".AttentionActivity"></activity>
        <activity android:name=".DyFocusCommentDetails.FcousCommentActivity"></activity>
    </application>

</manifest>